body{
    margin:1 rem;
    background-color: lightgray;
    text-align: center;
    height: 1vh;

}

.container{
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    
}

.game{
    flex: 1 0.2 0px;
    background-color: darkblue;
    border: rgb(77, 77, 77) solid 0.2rem;
    border-radius: 0.5rem;
    box-shadow:0.2rem 0.2rem 0.9rem rgba(56, 56, 56, 0.462);
    width: 1;
    display: flex;
    flex-direction: column;
    
    max-width:50rem;
    min-width: 30rem;
    min-height: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:2rem;
}
    

.info{
    flex:1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40rem;
    max-height: 50rem;
    
}

.control{
    background-color: brown;
    color:white;
    border-radius: 0.5rem;
    min-width: 15rem;
    min-height: 4rem;
    margin-top: 5rem;

    box-shadow:0.2rem 0.2rem 0.9rem rgba(56, 56, 56, 0.462);
}

.score{
    
    background-color:rgb(33, 33, 220);
    border:rgb(4, 4, 84) solid 0.2rem ;
    border-radius: 0.5rem;
    margin-top: 2rem;
    
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;

}


p{
    color:white;
    background-color: rgb(33, 33, 220);
}

.choices{
    display: flex;
    gap:2rem;
}
.gameBtn{
    flex-grow: 1;
    height: 3rem;
    background-color: brown;
    color: white;
    
}


td,th{
    border:0.2rem solid white;
}

img{
    max-width: 50rem;
    min-width: 20rem;
    max-height: 30rem;
    flex:1 1 50rem;
}
.images{
    display: flex;
    justify-content: center;
   
}
